/* The following line can be included in a src/App.scss */

@import "~bootstrap/scss/bootstrap";

.fill-height-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.fill-height {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}